<!DOCTYPE html>
<html>
    <head>
        <title>Views Lab</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>These are your options</h2>
        <ul>
            <li>/hello</li>
            <li>/goodbye</li>
            <li>/date</li>
        </ul>
    </body>
</html>